#menu {
  padding-top: 4.5rem;

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
    color: var(--colorGreenPrimary)
  }

  .menu-links {
    border-bottom: 2px solid black;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .menu-link {
        transition: all 300ms ease;
        padding: 1rem;
        font-weight: 600;
        &:hover {
        transform: translateY(-3px);
        color: var(--colorGreenPrimary)
        }
        &:active {
          transform: translateY(-3px);
          color: var(--colorGreenPrimary)
          }
      }
  }

  h3 {
    text-align: center;
  }

  .menu-section {
    scroll-margin-top: 4.5rem;
    margin-top: 2rem;
  }

  .menu-list {
    max-width: 800px;
    margin: 2rem auto;
  }

  .menu-list_item {
    justify-content: space-between;
    border-bottom: 1px dotted black;
    margin-top: 1rem;

    .item {
      color: var(--colorGreenPrimary);
      font-weight: 700;
    }

    .price {
      font-style: italic;
    }
  }
}